@import url('http://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

p {
    text-justify: auto;
}

body {
    background-color: #FFFFF0;
}

h3 {
    color: #B07C7C;
}

h2 {
    color: #B07C7C;
}