.header {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #b07c7c;
  padding: 20px 10px;
  z-index: 1000;
}

.header a, .header a.logo {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  vertical-align: middle;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #b44343;
  color: black;
}

.header a.active {
  background-color: rgb(102, 57, 48);
  color: white;
}

.header-right {
  float: right;
}

