
.wrapper {
  background: linear-gradient(90deg, #D0A48D, #D5AD98, #D9B6A4, #DEBFAF, #E3C8BB, #E8D2C6, #ECDBD1,#E8D2C6, #E3C8BB, #DEBFAF, #D9B6A4, #D5AD98,#D0A48D);
  background-size: 1500% 100%;
  animation: rainbow 7s linear infinite;
  height: 300hv;
  display: flex;
}

@keyframes rainbow {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 100% 0;
  }
}