@import url('http://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color:#222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color:#222;
}
h4{
    font-size: 20px;
    color:#222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}

/*Header Start*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 80px;
    background: #0192FB;
    box-shadow: 0 5px 15 px rgba(0, 0, 0, 0.06);
}

#menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#menu li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}
#menu li a:hover,
#menu li a.highlight{
    color: red;
}

#menu li a.highlight::after,
#menu li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: red ;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*Home Page*/
#home_page{
    background-image:url(heroimage.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#home_page h4{
    color: black;
}
#home_page h2{
    color: black;
}
#home_page h1{
    color:black;
}
#home_page p{
    color:black;
}
#home_page button{
    background-image: url(button.jpg);
    background-color: transparent;
    color: purple;
    border: 0;
    padding: 14px 80px 14px 65px;
}